<?xml version="1.0" encoding="utf-8"?> 
<packages> 
<package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="uap10.0" />
<package id="Microsoft.NETCore.UniversalWindowsPlatform" version="5.1.0" targetFramework="uap10.0" />
<package id="NotificationsExtensions.Win10" version="14332.0.1" targetFramework="uap10.0" />
<package id="QueryString.NET" version="1.0.0" targetFramework="uap10.0" /> 
<package id="TweetinviAPI" version="0.9.14" targetFramework="uap10.0" /> 
</packages>